#bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btm {
    margin-bottom: 50px;
}

.joke {
    font-family: "RSlab";
    width: 70vw;
    height: 35vh;
    margin-bottom: 30px;
}

#name {
    margin-bottom: 20px;
    width: 70vw;
    height: 30px;
    font-family: "RSlab";
}

.edit {
    justify-content: center;
}

.submit {
    padding: 10px 10px;
    height: 40px;
    width: 10rem;
    border-radius: 25px;
    font-family: "RSlab";
}